<a href="https://colab.research.google.com/github/dathomas1/NcaaTool/blob/master/HS_Football_Recruits.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Purpose
Identify trends in what makes a 5-star high school football recruit. I will consider height, weight, and hometown. I will also trend what college recruits go to and who makes it to the NFL with links to there Pro-Football-Reference page.

## Import Data

In [87]:
import pandas as pd

# Range of recruit years
RECRUIT_YEAR_START = 2000
RECRUIT_YEAR_END = 2019

# Url to high school recruit data on github
url = "https://raw.githubusercontent.com/dathomas1/NcaaTool/master/CSV/HighSchool%20-%20{0}%20Player%20Rankings.csv"

def get_recruit_filenames(start, end, url, skip=[-9999]):
  filenames = []
  for year in range(start, end + 1):
    if (year in skip):
      continue
    else:
      filenames.append(url.format(year))
  
  return filenames

def dataframe_from_filenames(filenames):
  dataframes = []
  for f in filenames:
    dataframe = pd.read_csv(f)
    dataframe['source'] = f
    dataframe.dropna(thresh=4)
    dataframes.append(dataframe)

    combined_dataframe = pd.concat(dataframes, axis=0, ignore_index=True)
      
  return combined_dataframe

hs_filenames = get_recruit_filenames(RECRUIT_YEAR_START, RECRUIT_YEAR_END, url)

# Recruit data frame
df = dataframe_from_filenames(hs_filenames)

In [85]:
# View Data so far
df.head()

  ranking  ...                                             source
0       1  ...  https://raw.githubusercontent.com/dathomas1/Nc...
1       2  ...  https://raw.githubusercontent.com/dathomas1/Nc...
2       3  ...  https://raw.githubusercontent.com/dathomas1/Nc...
3       4  ...  https://raw.githubusercontent.com/dathomas1/Nc...
4       5  ...  https://raw.githubusercontent.com/dathomas1/Nc...

[5 rows x 10 columns]

In [34]:
# Output dataframe so far
df.to_csv('hs_recruits.csv')

## Clean Data
While importing, I noticed that the 2018 CSV data shift all information one column over. This is because the CSV for 2018 doesn't capture values as strings within quotations

In [75]:
df.query("ranking == 'Trevor Lawrence'")

               ranking  ...                                             source
43051  Trevor Lawrence  ...  https://raw.githubusercontent.com/dathomas1/Nc...
46540  Trevor Lawrence  ...  https://raw.githubusercontent.com/dathomas1/Nc...

[2 rows x 10 columns]

I will create a new dataframe without 2018 for now, clean 2018 then recombine.

In [80]:
url_2018 = "https://raw.githubusercontent.com/dathomas1/NcaaTool/master/CSV/HighSchool%20-%202018%20Player%20Rankings.csv"
recruits_without_2018 = df[df.source != url_2018]
print("Original Import Shape: ", df.shape)
print("Without 2018 Shape: ", recruits_without_2018.shape)

Original Import Shape:  (51113, 10)
Without 2018 Shape:  (47221, 10)

Import 2018 CSV and display

In [86]:
col_names_2018 = ["ranking", "name", "highSchool", "state", "position", "height","weight","stars","rating","college"]
df_2018 = pd.read_csv(url_2018, header=0, names=col_names_2018)
df_2018["source"] = url_2018
df_2018.head()

   ranking  ...                                             source
0      1.0  ...  https://raw.githubusercontent.com/dathomas1/Nc...
1      2.0  ...  https://raw.githubusercontent.com/dathomas1/Nc...
2      3.0  ...  https://raw.githubusercontent.com/dathomas1/Nc...
3      4.0  ...  https://raw.githubusercontent.com/dathomas1/Nc...
4      5.0  ...  https://raw.githubusercontent.com/dathomas1/Nc...

[5 rows x 11 columns]